body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    .active{
        background-color:rgb(67, 177, 180) ;
        color: white !important;
    }
    .container{
        width: 900px;
        height: 500px;
        .buttons{
            padding: 0px;
            .btnn{
            height: 50px;
            width: 150px;
            margin-right: 95px;
            border-top: 1px solid rgb(168, 164, 164);
            border-left: 1px solid rgb(168, 164, 164);
            border-right:  1px solid rgb(168, 164, 164);
            border: none;
            outline:none;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            color: rgb(116, 116, 116);
            font-weight: bold;
            letter-spacing: 2px;
            }}
            .box{
                display: flex;
                align-items: center;
                height: 400px;
                background-color: aliceblue;
                border-top: 3px solid rgb(67, 177, 180);
                border-left: 1px solid rgb(168, 164, 164);
                border-right:  1px solid rgb(168, 164, 164);
                border-bottom:  1px solid rgb(168, 164, 164);
                .city{
                    display: flex;
                    .image{
                        position: relative;
                        left: 50px;
                        width: 150px;
                        height: 150px;
                        background-size: contain;
                        img{
                            width: 200px;
                            height: 200px;
                        }
                    }
                    .content{
                        position: relative;
                        left: 170px;
                        .info{
                            color: rgb(116, 116, 116);
                        }
                        .heading{
                            color: rgb(85, 85, 85);
                        }
                    }
                }               
                
        }
    }
        
    
}
